@model Application.Models.Employee

@using Application.BLL;

@{
    ViewBag.Title = "Edit employee";
}

<h1>Edit employee</h1>
<hr />

@using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "form-control", @value = Model.Name } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, "", new { htmlAttributes = new { @class = "form-control", @value = Model.Surname } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Salary, "Salary (Net)", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Salary, "", new { htmlAttributes = new { @class = "form-control", @value = Model.Salary, @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="GrossSalary">Salary (Gross)</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="GrossSalary" name="GrossSalary" readonly="readonly" type="text" value="@SalaryUtilities.ToGrossSalary(Model.Salary)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success btn-block" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/salary_converter");
}