@model PagedList.IPagedList<Application.Models.Employee>

@using PagedList.Mvc;

@{ 
    ViewBag.Title = "Employees";
}

<h1>Employees</h1>
<hr />

<p>
    @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-primary"})
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.DropDownList("filter-type", new SelectListItem[] {
        new SelectListItem { Text = "Contains in name", Value = "name" },
        new SelectListItem { Text = "Contains in surname", Value = "surname" }
    }, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.TextBox("filter", null, new { @class = "form-control" })
    </div>
    <button class="form-control" type="submit">
        <span class="glyphicon glyphicon-filter"></span>
    </button>
}

<table class="table">
    <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">Surname</th>
        <th class="col-md-3">Salary (Net)</th>
        <th class="col-md-3">Salary (Gross)</th>
    </tr>

@foreach (var employee in Model)
{
    <tr>
        <td class="span3">@employee.Name</td>
        <td class="span3">@employee.Surname</td>
        <td class="span3">@employee.Salary</td>
        <td class="span3">NaN</td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, savedFilter = ViewBag.SavedFilter }))